*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
    font-size: 40px;
    color: #075f47;
}

a{
    font-size: 15px;
    text-decoration: none;
}

.container, header{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .container{
    display: block;
}

header{
    background-color:#52FFD1 ;/*#;*/
    height: 100px;
    max-width: 100%;


}

li{
    display: inline;
    margin-left: 15px;
}

li a, button, footer button{
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color: #075f47;
}


.container img{
width: 100%;
height: 350px;
margin: 20px 0;
}

.container article{
    width: 100%;
    margin: 10px auto;
    text-align: center;

}
article p {
    font-family: system-ui, 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

#cards-master{
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.adote-cards{
    width: 25%;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 100px;
}
.adote-cards:hover{
transform: scale(1.1);
}

.adote-cards img{
    width: 80%;
    height: 200px;
    border-radius: 3px;
    margin: 20px 15px 0;
}

.adote-cards h3{
font-size: 20px;
margin-bottom: 15px;
}

.adote-cards p{
    font-size: 16px;
    width: 80%;
    margin: auto;
margin-bottom: 15px;
}
.adote-cards button, footer button{
width: 80%;
height: 40px;
border-radius: 10px;
margin-bottom: 10px;
background-color: #52FFD1;
color: #075f47;
border: none;
font-size: 15px;
cursor: pointer;
transition: 0.5s;
}
.adote-cards button:hover{
transform: scale(1.1);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #52FFD1;
}
footer .container{
    width: 80%;
}
.mapa{
width: 300px;
height: 400px;
}
.mapa img{
    width: 100%;
    height: 300px;
    cursor: pointer;
    margin-top:50px ;
}
.mapa address{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.formulario{
    width: 500px;
    text-align: center;
    
}



.formulario h4{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;}


.formulario input{
    padding: 0 2%;
    width: 80%;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.formulario textarea{
    width: 80%;
    outline: none;
    border: none;
    margin: 10px;
    padding: 0 2%;
    border-radius: 5px;


}

.formulario button{
    width: 80%;
    border-radius: 5px;
    padding: 0 2%;
    background-color: #075f47;
    color: #52FFD1;
    font-weight: none;
}

